// color pallete
$main-background-color: #FFFFFF;
$main-color: #2b2e4a;
$secondary-background-color: #D5CAD6;

$item-radius: 1rem;

$main-font-color: #333333;
$second-font-color: #888888;


/* CSS HEX 
--viridian-green: #119DA4;
--cerulean-frost: #6D9DC5;
--middle-blue-green: #80ded9;
--blizzard-blue: #aeecef;
--space-cadet: #2b2e4a;
*/